/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Index Page*/

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

header {
    width: 100%;
    height: 160px;
    background-color: darkolivegreen;
    color: white;
    position: sticky;
    z-index: 3;
    top: 0;
    left: 0;
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}

.logo {
    height: 140px;
    background-color: olivedrab;
    border-radius: 70px;
    cursor: pointer;
    opacity: 0.95;
}

nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.nav-button {
    height: 32px;
    border: none;
    border-bottom: 4px solid hsl(33, 100%, 50%);
    background-color: inherit;
    color: hsl(82, 39%, 97%);
    font-size: 24px;
    font-variant: small-caps;
    transition: 750ms;
    cursor: pointer;
}

.nav-button:hover {
    box-shadow: inset 0 -36px 0 0 hsl(33, 100%, 50%);
    border-bottom: 4px solid orangered;
}

.current-nav {
    border-bottom: 4px solid hsl(82, 39%, 87%);
}

.current-nav:hover {
    box-shadow: inset 0 -36px 0 0 hsl(82, 39%, 97%);
    border-bottom: 4px solid hsl(82, 39%, 87%);
    color: olivedrab;
}

main {
    width: 100%;
    flex-grow: 1;
    background: linear-gradient(hsl(82, 39%, 87%) 78vh, hsl(82, 39%, 97%));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    width: 100%;
    height: 78vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: end;
}

.hero > div {
}

.hero-text {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 25%;
    gap: 16px;
    color: hsl(82, 39%, 10%);
    z-index: 2;
    background-color: hsla(82, 39%, 87%, 25%);
}

.hero-text h1 {
    font-size: 64px;
}

.hero-text h2 {
    font-size: 48px;
}

.hero-text button {
    height: 48px;
    border: none;
    border-bottom: 4px solid darkolivegreen;
    background-color: olivedrab;
/*    border-bottom: 4px solid orangered;
    background-color: hsl(33, 100%, 50%);*/
    color: hsl(82, 39%, 97%);
    font-size: 32px;
    font-variant: small-caps;
    transition: 750ms;
    cursor: pointer;
}

.hero-text button:hover {
    box-shadow: inset 0 -48px 0 0 hsl(82, 39%, 97%);
    border-bottom: 4px solid darkolivegreen;
    color: olivedrab;
/*    border-bottom: 4px solid orangered;
    color: hsl(33, 100%, 50%);*/
}

.hero-image-container {
    right: 0;
    height: 200%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transform: translateX(50%);
}

.hero-image-container img {
    height: 75%;
    position: absolute;
    right: 50%;
    bottom: 35%;
}



/*index grid*/
#index-grid-container {
    width: 90%;
    display: grid;
    grid-template: repeat(3, 480px) / repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    row-gap: 32px;
}

#index-grid-container > div {
}

#index-grid-container > div > div {
    width: 50%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.grid-large {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-small {
    grid-column: span 1;
    position: relative;
}

.grid-text-circle {
    background-color: olivedrab;
    box-shadow: inset 0 0 32px 0 hsl(82, 39%, 97%);
    color: hsl(82, 39%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    text-align: center;
    font-size: 26px;
}

.grid-image {
    border: 16px double olivedrab;
    background-color: hsl(82, 39%, 97%);;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#img-1, #img-2, #img-3 {
    width: 100%;
    aspect-ratio: 1/1;
}

.circle-right {
    position: absolute;
    left: -200px;
    bottom: -32px;
}

.circle-left {
    position: absolute;
    right: -200px;
    bottom: -32px;
}



footer {
    width: 100%;
    background-color:chocolate;
    height: 80px;
}