/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Index Page*/

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

header {
    width: 100%;
    height: 160px;
    background-color: darkolivegreen;
    color: white;
    position: sticky;
    z-index: 3;
    top: 0;
    left: 0;
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}

.logo {
    height: 140px;
    background-color: olivedrab;
    border-radius: 70px;
    cursor: pointer;
    opacity: 0.95;
}

nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.nav-button {
    height: 32px;
    border: none;
    border-bottom: 4px solid hsl(33, 100%, 50%);
    background-color: inherit;
    color: hsl(82, 39%, 97%);
    font-size: 24px;
    font-variant: small-caps;
    transition: 750ms;
    cursor: pointer;
}

.nav-button:hover {
    box-shadow: inset 0 -36px 0 0 hsl(33, 100%, 50%);
    border-bottom: 4px solid orangered;
}

main {
    width: 100%;
    flex-grow: 1;
    background-color: hsl(82, 39%, 96%);
    display: flex;
    justify-content: center;
}

/*index grid*/
#index-grid-container {
    width: 90%;
    display: grid;
    grid-template: repeat(3, 480px) / repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    row-gap: 32px;
}

#index-grid-container > div {
}

#index-grid-container > div > div {
    width: 50%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.grid-large {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-small {
    grid-column: span 1;
    position: relative;
}

.grid-text-circle {
    background-color: olivedrab;
    box-shadow: inset 0 0 32px 0 hsl(82, 39%, 97%);
    color: hsl(82, 39%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    text-align: center;
    font-size: 26px;
}

.grid-image {
    border: 16px double olivedrab;
    background-color: hsl(82, 39%, 97%);;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#img-1, #img-2, #img-3 {
    width: 100%;
    aspect-ratio: 1/1;
}

.circle-right {
    position: absolute;
    left: -200px;
    bottom: -32px;
}

.circle-left {
    position: absolute;
    right: -200px;
    bottom: -32px;
}



footer {
    width: 100%;
    background-color:chocolate;
    height: 80px;
}